<section id="nav" class="bg-transparent fixed-top py-4">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-weight-bold" target="_blank" href="https://diesmo5.com">
        <img src="assets/favicon.svg" alt="" class="" height="50px">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <form class="form-inline" name="contact" method="POST" data-netlify="true">
            <input class="form-control mr-sm-2 pr-5" type="email" placeholder="Email" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0 px-5" type="submit">Submit</button>
          </form>
      </div>
    </div>
  </nav>
</section>
